/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    max-width: 100%;
}

/* begin */

body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    background:
linear-gradient(135deg, #708090 21px, #ebcf91 22px, #ebcf91 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 21px, #ebcf91 22px, #ebcf91 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px;
margin-top: 5%;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;  
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
}

header h1 {
    font-family: ;
}
header nav {
    display: flex;
    justify-content: space-evenly;
    width:20%;
    padding-top: 1%;
    font-size: 1.3rem;
    color: grey;
    font-weight:300;
    font-display: ;
}

header nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #3fb8af;
}

header nav a:hover{
    color: #ebcf91;
    text-decoration: wavy;
}

header nav #home{
    margin-right: 1%;
}

#logo {
    width: 30%;
    flex-direction: row;
    /* align-content: center; */
    border-style: 1px solid black;
    }

#top {
    display: flex;
    width: 80%;
    margin: 1.5% auto;
    background-color: rgba(255, 255, 255, 0.575);
    padding: 2%;
}

#top:hover {
    background-color: white;
}

#top img {
    width:45%;
    

}

#top #text {
    padding: 5% 3%;
    width: 55%;
}

#top #text h2{
    margin: 0 auto;
    /* font-size: 13rem; */

}

#top #text p{
    font-weight: bold;
}


#mid {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: 1.5% auto;
    background-color: rgba(255, 255, 255, 0.575);
    padding: 2%;
}

#mid:hover {
        background-color: white;
}

#mid img {
    width:45%;
}

#mid #lowerText {
    padding: 5% 3%;
    width: 55%;
}

#mid #lowerText p{
    font-weight: bold;
}

#bottom {
    background-image: url('/assets/lined-paper-1280548_1280.jpg');
    background-position: center;
    width: 80%;
    margin: 1.5% auto;
    background-size: cover;
    display: flex;
    align-content: center;
}

#bottom a {
    margin: 0 auto;
    padding: 3% 0;
    text-decoration: none;
    font-size: 1.4rem;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

footer nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    width:20%;
    padding-top: 1%;
    font-size: 1.3rem;
    color: grey;
    font-weight:300;
}

footer nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #3fb8af;
}

/* about page css below this line */

/* #aboutTop {
    display: flex;
    justify-content: space-between; */
}
/* #aboutTop h2{
    margin: 0 auto;
    font-size: 1.3;
    font-weight: 200;
    width: 20%;

}

#aboutTop p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;  
}  */

#what {
    display: block;
    margin-left: 50%;
}

#aboutBottomTitle {
    /* display: inline-block; */
    margin-left:50%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: black;

}
#aboutBottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 20%;
     border-style: 1px solid black;
     margin: 0 auto;

}

#group1 {
    margin: 0 auto;

}

#group3 {
    margin-left:70%;
}

#aboutBottom .memberContainer {
    width: 55%;
    text-align: center;
    background-color: white;
    background-blend-mode: hue;
    /* margin: 0 5%; */
    padding: 0;
    box-shadow: dimgrey;
}

.memberContainer p {
    font-style: italic;
    font-weight: bold;
}