/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}

body {
    width: 85%;
    max-width: 100%;
    margin: auto;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;  
}

header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    /* margin: auto; */
    justify-content: space-between;
    /* background-color: grey; */
    border-bottom: 1px dashed gray;
}

header h1 {
    font-family: ;
}
header nav {
    display: flex;
    justify-content: space-between;
    width:20%;
    padding-top: 1%;
    font-size: 1.8rem;
}

header nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #3fb8af;
}

header nav a:hover{
    color: #ebcf91;
    text-decoration: wavy;
}

header nav #home{
    margin-right: 1%;
}

#logo {
    width: 30%;
    flex-direction: row;
    /* align-content: center; */
    border-style: 1px solid black;
    }

#top {
    display: flex;
    width: 100%;
    margin: 1.5% 0;
}

#top img {
    width:45%;
    border-radius: 50%;
}

#top #text {
    padding: 5% 3%;
    width: 55%;
}

#top #text h2{
    margin: 0 auto;
    /* font-size: 13rem; */

}

#top #text p{
    font-weight: bold;
}


#mid {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: 1.5% 0;
}

#mid img {
    width:45%;
    border-radius: 50%;
}

#mid #lowerText {
    padding: 5% 3%;
    width: 55%;
}

#mid #lowerText p{
    font-weight: bold;
}

#bottom {
    background-image: image();
}